* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


body {
    font-size: 25px;
    flex-direction: column;
    justify-content: flex-start;
    background-image: url("cubepattern.jpeg");
    background-color: #cccccc;
}



/* HEADER */
.header {
    font-size: 20px;
    background-color: whitesmoke;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    align-items: center;
    padding: 5px;
}

/* ABOUT ME SECTION */
#about {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* ABOUT PICTURE */
#portfolio {
    height: 500px;
    padding: 20px;
}

#elham {
    font-size: 40px;
}

#fullStack {
    font-size: 20px;
}

/* PROJECTS SECTION */

#project {
    font-size: 30px;
    text-align: center;
    margin: 20px;
    text-decoration: underline;
}

#projectBox {
    display: flex;
}

/* CONTACT SECTION */
.contact {
    font-size: 30px;
    text-align: center;
    text-decoration: underline;
}

#email {
    font-size: 20px;
    display: flex;
    justify-content: center;
    padding: 10px;
}

/* helps with adjustment to different screens */
@media screen and (min-width: 30em) and (orientation: landscape) {

}
